.checker {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid;
    margin: 1px 0;
}

.checker-black {
    background-color: #000;
}

.checker-white {
    background-color: #fff;
}